@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Fira Code', monospace;
}

body {
  background-color: #141d2f;
  /* background: linear-gradient(120deg, #f5f9ff, #dbe8ff); */
  /* background: #0a0f1a; */
  color: #fefefe;
  width: 100%;
  height: 100Vh;
  font-size: 15px;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
} */

/* .main-heading {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
} */

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-input {
  width: 500px;
  padding: 12px 28px;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  outline: none;
  background-color: #2b3d65;
  box-shadow: 0 16px 30px -10px rgba(0, 0, 0, 0.2);
  color: #fefefe;
}

.search-input::placeholder {
  color: #fefefece;
}

.search-btn {
  /* font-size: 20px;
  padding: 12px 20px;
  border-radius: 17px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  background-color: #20428a;
  color: #fefefe; */
  /* box-shadow: 0 16px 30px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s; */
  box-shadow:
    0px 0px 40px rgba(0, 200, 255, 0.12),
    inset 0 0 30px rgba(0, 200, 255, 0.05);
  transition: 0.4s ease;
}

.search-btn:hover {
  background-color: #284d9d;
  transform: translateY(-1px);
  box-shadow:
    0px 0px 55px rgba(0, 200, 255, 0.2),
    inset 0 0 30px rgba(0, 200, 255, 0.06);
}

/* .error-msg {
  font-size: 25px;
}  */

.profile-container {
  /* width: 720px;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  background: #111828;
  border-radius: 20px;
  font-size: 15px; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0px 0px 40px rgba(0, 200, 255, 0.12),
    inset 0 0 30px rgba(0, 200, 255, 0.05);
  transition: 0.4s ease;
}

.profile-container:hover {
  transform: translateY(-6px);
  box-shadow:
    0px 0px 55px rgba(0, 200, 255, 0.2),
    inset 0 0 30px rgba(0, 200, 255, 0.06);
}

/* .profile-content {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
}

.profile-img {
  height: 100%;
} */

.profile-avatar {
  /* width: 120px;
  border-radius: 50%;*/
  border: 3px solid rgba(0, 200, 255, 0.4);
  box-shadow:
    0px 0px 25px rgba(0, 200, 255, 0.4),
    0px 0px 45px rgba(0, 200, 255, 0.15);
}

/* 
.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-desc {
  width: 500px;
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-name {
  font-size: 30px;
  font-weight: 600;
} */

/* a.profile-username {
  color: #fefefe;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 18px;
} */

/* .profile-bio {
  margin: 40px 20px 20px 10px;
  color: #b1a7a7;
  line-height: 1.5rem;
} */

.profile-stats {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  font-size: 17px;
  height: 100px;
  font-weight: 500px;
  background-color: #141d2f;
  border-radius: 20px;
  line-height: 2.4rem;
  text-align: center; */
  box-shadow: 0 16px 30px -10px rgba(0, 0, 0, 0.2);
}

/* .stats {
  color: #1b47a4;
  font-size: 30px;
  font-weight: 800;
} */

/* .profile-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 30px;
  gap: 80px;
} */

/* .profile-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 60px;
} */

/* .profile-location{
  display: flex;
  align-items: center;
  gap: 5px;
} */

/* .profile-company{
  display: flex;
  align-items: center;
  gap: 5px;
} */

.twitter-link {
  /* background-color: #141d2f;
  width: 300px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #fefefe;
  text-decoration: none;
  border-radius: 20px; */
  box-shadow: 0 16px 30px -10px rgba(0, 0, 0, 0.2);
}

.profile-url {
  /* background-color: #141d2f;
  width: 300px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #fefefe;
  text-decoration: none;
  border-radius: 20px; */
  box-shadow: 0 16px 30px -10px rgba(0, 0, 0, 0.2);
}

 
 @media (max-width: 800px) {

  .container{
    padding: 20px;
  }
  .main-heading {
    font-size: 25px;
  }

  .search-input {
    width: 400px;
  }

  .profile-container {
    width: 700px;
  }

  .profile-avatar {
    width: 120px;
  }

  .profile-desc {
    width: 550px;
    gap: 10px;
  }

  .profile-name {
    font-size: 17px;
    margin-right: 100px;
  }

  .profile-created {
    font-size: 13px;
  }

  .profile-username {
    font-size: 13px;
    margin-left: 40px;
  }

  .profile-bio {
    font-size: 14px;
    margin: 40px 60px 20px 5px;
  }

  .profile-stats {
    width: 530px;
  }

  .stats {
    font-size: 25px;
  }
}


@media (max-width: 720px){
  .container{
    padding: 20px;
  }

  .profile-container{
    width: 550px;
  }

   .main-heading {
    font-size: 25px;
  }

  .search-input {
    width: 400px;
  }

  .profile-avatar {
    width: 140px;
    /* height: 100px; */
  }

  .profile-desc {
    width: 400px;
    gap: 10px;
  }

  .profile-name {
    font-size: 17px;
    margin-right: 0px;
  }

  .profile-created {
    font-size: 13px;
  }

  .profile-username {
    font-size: 13px;
    margin-left: 40px;
  }

  .profile-bio {
    font-size: 14px;
    margin: 40px 60px 20px 5px;
  }

  .profile-stats {
    width: 430px;
  }

  .stats {
    font-size: 25px;
  }
}

 @media (max-width: 590px) {
  .main-heading {
    font-size: 20px;
  }

  .search-input {
    width: 350px;
  }

  .search-btn {
    /* width: 80px; */
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .profile-container {
    width: 450px;
  }

  .profile-content{
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .profile-avatar {
    width: 100px;
  }

  .profile-des {
    width: 280px;
    gap: 40px;
  }

  .profile-name {
    font-size: 12px;
    margin-left: 50px;
  }

  .profile-created {
    font-size: 11px;
  }

  .profile-username {
    font-size: 10px;
    margin-left: 70px;
  }

  .joined {
    font-size:17px;
  }

  .profile-bio {
    font-size: 12px;
    margin-left: 40px ;
  }

  .profile-stats {
    width: 350px;
    font-size: 10px;
  }

  .stats {
    font-size: 18px;
  }

  .profile-info {
    gap: 20px;
  }

  .profile-location {
    font-size: 10px;
  }

  .profile-company {
    font-size: 10px;
  }

  .twitter-link {
    width: 180px;
    font-size: 10px;
  }

  .profile-url {
    width: 180px;
    font-size: 10px;
  }
} 


@media (max-width: 480px) {

  .container {
    padding: 10px;
  }

  .main-heading {
    font-size: 22px;
  }

  .search-form {
    flex-direction: column;
    gap: 12px;
  }

  .search-input {
    width: 100%;
    padding: 10px 18px;
    font-size: 16px;
  }

  .search-btn {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
  }

  .profile-container {
    width: 100%;
    padding: 15px;
  }

  .profile-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-avatar {
    width: 100px;
    height: 100px;
  }


  .profile-desc {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
  }

  .profile-name{
    align-items: center;
    text-align: center;
    margin-right: 50px;
    font-size: 27px;
  }

  .profile-username{
    font-size: 14px;
    margin-right: 140px;
  }

  .profile-bio {
    margin: 20px 5px;
    font-size: 14px;
  }

  .profile-stats {
    width: 100%;
    height: 280px;
    flex-direction: column;
    /* gap: 2px; */
    padding: 2px;
    font-size: 14px;
  }

  .stats {
    font-size: 20px;
  }

  .profile-info {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
    font-size: 16px;
  }

  .profile-links {
    width: 100%;
    align-items: center;
    margin-left: 0;
  }

  .twitter-link,
  .profile-url {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  .profile-location, .profile-company{
      font-size: 15px;
      margin-left: 10px;
  }
}



